body {
    background: lightgrey;
}

h5 {
    color: teal;
}

.content {
    background: lightgray;
}

.margin-top-80 {
    margin-top: 80px;
}

.card-body {
    margin-top: 50px;
}

title {
    color: #076e77;
}

.navbar-light .navbar-brand {
    background-color: #026670;
    color: white;
}

.flatten-margin {
    margin: 0px 0px 0px 0px;
}

.flatten-bottom-padding {
    padding-bottom: 0px;
}

.custom-container {
    margin-top: 10px;
}

@media (max-width:600px) {
    .navbar-toggler {
        background-color: #026670;
    }
}

@media (max-width: 576px) {
    .viz1 {
        width: 25%
    }
    .viz2 {
        width:100%;
    }
    .mainNav {
        background-color: #026670;
        color: white;
    }
}

@media (min-width: 577px) {
    .viz1 {
        width: 50%
    }
    .viz2 {
        width:50%;
    }
    /*  .mainNav {
        background-color: lightgray;
    } */
    .navbar {
        background-color: white;
    }
}

.dropdown-menu a:hover {
    background-color: lightgray;
}

.navbar a:hover {
    background-color: lightgray;
}

#main-img {
    border: solid 3px #026670;
}

.table {
    margin: 10px 5px 10px 10px;
}
.footer {
    background-color: #026670;
    width:100%;
    height:5px;
    margin: 50px 0px 0px 0px;
}
.header {
    background-color: white;
    
}
.header h5, p{
    margin: 10px 0px 0px 20px;
}
.header p{
    font-size:8pt;
}
.data-img p{
    text-align: center;
    color: teal;
    font-size:12pt;
    font-weight: bold;
}
.tableformat {
    background-color: white;
    width:100%;
   /* margin:auto;*/
    font-size:12px;
    border:1px solid white;
    border-collapse:collapse; 
}
.data-headers {
    background-color: white;
    margin-top: 10px;

}
